<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
    </head>
    <body>
        <div>
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>